.box1 {
    background-color:skyblue;
    border: 2px solid #0a0707;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }